.place {
  font-family: "Inter", Arial, sans-serif;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
}
/* Could be improved: grid */
/*
    Here, the grid is not built with `fit-content` and `auto-fit`. We needed to do that to match the design.
    This task can also be easily solved using flexbox.
  */

.place__title {
  grid-area: title;
  align-self: end;
  margin: 0;
}

.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 25px 0 0;
}

.place__paragraph:first-child {
  margin-top: 0;
}

.place__image {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.place__description {
  grid-area: text;
}

.place__button {
  grid-area: button;
  background: #0278fe;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: max-content;
  height: max-content;
  padding: 13px 20px;
}

.place__button:hover {
  background: #0063d2;
}

.place__artist {
  grid-area: artist;
  align-self: end;
}

.place__artist-heading {
  display: block;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  color: #aaaaaa;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.place__artist-name {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 340px;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px; /* Note: Figma has erroneous 32px gap for just one row */
  }

  .place__artist {
    align-self: auto;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    margin: 0 16px;
  }

  .place__description {
    margin: 0 16px;
  }

  .place__button {
    margin: 0 16px;
  }

  .place__artist {
    margin: 0 16px;
  }

  .place__artist-heading {
    margin-bottom: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
  }
}

@media screen and (max-width: 400px) {
  .place__button {
    width: auto;
  }
}
